################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestRedis/TestRedis/obj
/TestRedis/TestRedis/bin/Debug/net8.0
/TestRedis/bin/Debug
/TestRedis/obj/Docker
/TestRedis/obj/Debug
/TestRedis/.vs
